@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

.container {
  font-family: "Noto Sans KR", sans-serif;
}
.main-banner {
  padding-top: 50px;
  max-width: 1903px;
  min-width: 1200px;
  width: 100%;
  height: 320px;
  background-color: #ffcc00;
  text-align: center;
}
.main-banner div span {
  align-items: center;
}
.main-banner > div:nth-child(1) {
  margin-bottom: 15px;
  font-size: 36px;
}
.main-banner > div:nth-child(2) {
  margin-bottom: 30px;
  font-size: 56px;
}
.main-banner__search-box {
  width: 584px;
  margin: auto;
  height: 67px;
  background-color: #fff;
  border-radius: 5px;
  text-align: left;
}
.main-banner__search-box div {
  display: inline-block;
  vertical-align: middle;
}
.main-banner__search-lenz {
  margin-top: 10px;
  margin-left: 25px;
}
.main-banner__search-box div span {
  margin-left: 15px;
  font-size: 30px;
  color: #ccc;
}
.contents {
  width: 1200px;
  margin: auto;
  color: #333;
}
.contents article {
  margin-top: 70px;
}
.contents__text-area,
.contents__advertise {
  margin-left: 8px;
  font-size: 24px;
}
.contents__text-area {
  height: 60px;
}
.contents__image-area,
.contents__newbie-help__help-image {
  font-size: 0;
}
.contents__image-area div {
  display: inline-block;
  margin: 0 8px;
}
.contents__image-area div a img {
  border-radius: 10px;
}
.contents__newbie-help__help-image div {
  display: inline-block;
  margin: 0 8px;
}
.image_384 {
  width: 384px;
  height: 384px;
}
