@import url(reset.css);

section {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  font-size: 0;
}
span,
p {
  font-size: 16px;
}
section article {
  display: block;
  width: 584px;
  white-space: normal;
}
.user_portfolio div {
  display: inline-block;
  width: 284px;
  height: 300px;
  border: 1px solid #333;
}
.user_portfolio div * {
  display: block;
}
section aside {
  display: block;
  width: 484px;
}
.request_title {
  font-size: 24px;
}
