/* common */
body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
.page-header,
.main,
.introduce,
.service,
.news,
.culture,
.recruitment,
.page-footer {
  width: 1920px;
}
.page-header__content,
.introduce__content,
.service__content,
.news__content,
.culture__content,
.recruitment__content,
.page-footer__content {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
}
.introduce__intro,
.service__intro,
.news__intro,
.culture__intro,
.recruitment__intro {
  text-align: center;
  height: 300px;
  padding-top: 120px;
}
.intro-title {
  padding-top: 10px;
  font-size: 42px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: -0.6px;
}
.intro-text {
  padding-top: 15px;
  font-size: 19px;
  line-height: 28px;
  font-weight: 300;
}
.text-white {
  color: #fff;
}
/* header */
.page-header {
  position: sticky;
  top: 0;
  height: 70px;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.08);
}
.page-header__content {
  position: relative;
  margin: 0 auto;
  height: 100%;
  text-align: center;
}
.page-header__logo {
  position: absolute;
  top: 15px;
  left: 25px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  text-indent: -9999px;
  background-image: url(../images/head_logo.png);
  background-repeat: no-repeat;
}
.page-header__logo a {
  display: block;
  width: 100px;
  height: 100%;
}
.page-header__nav--menu {
  display: inline-block;
  width: 170px;
  height: 70px;
  text-align: center;
  line-height: 70px;
}
.page-header__nav--menu-text {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 21px;
}
/* main */
.main__message {
  position: relative;
  background: url(../images/main-bg.jpg) no-repeat center center;
  background-size: cover;
  height: 867px;
}
.main__message--title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 590px;
  height: auto;
  animation: 1s slidein;
}
@keyframes slidein {
  0% {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  40% {
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  60% {
    top: 27.5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.main__slider {
  position: absolute;
  top: 70%;
  left: 50%;
  width: 700px;
  height: 400px;
  transform: translate(-50%, -50%);
  background: #ccc;
}

/* introduce */
.introduce {
  position: relative;
  height: 937px;
  background: url(../images/introduce_topleft.png) no-repeat top left;
  background-color: rgb(245, 252, 255);
}
.introduce__detail--box {
  position: relative;
  display: inline-block;
  /* padding: 35px; */
  width: calc(25% - 20px);
  height: 400px;
  margin: 10px;
  background: #ccc;
  border-radius: 25px 0;
  overflow: hidden;
}
.introduce__detail--box-click {
  display: block;
  width: 100%;
  height: 100%;
}
.introduce__bottom-image {
  position: absolute;
  top: calc(100% - 161px);
  width: 100%;
  height: 161px;
  background: url(../images/introduce_bottom.png) no-repeat bottom;
  animation: 5s left-to-right infinite;
}
.introduce__detail--box-title {
  padding: 35px 0 0 35px;
  font-size: 24px;
}
.introduce__detail--box-text {
  margin-left: 35px;
  width: 57%;
  font-size: 16px;
}
.introduce__detail--box-line {
  margin: 20px 0 20px 35px;
  width: 25px;
  height: 5px;
  background-color: #3d66c4;
}
.introduce__detail--box-arrow {
  margin-left: 35px;
  position: absolute;
  top: 85%;
  display: block;
  width: 34px;
  height: 15px;
  background: url(../images/introduce_arrow.png) no-repeat center;
}
.introduce__detail--box-sns {
  margin-top: 40px;
  margin-left: 35px;
  width: 140px;
}
.introduce__detail--box-sns--button {
  margin: 5px;
  width: 51px;
  height: 51px;
  cursor: pointer;
  border: none;
}
.intro-youtube {
  margin-top: 0;
  background: url(../images/introduce-button-youtube.png) no-repeat center;
}
.intro-facebook {
  margin-top: 0;
  background: url(../images/introduce-button-facebook.png) no-repeat center;
}
.intro-instagram {
  background: url(../images/introduce-button-insta.png) no-repeat center;
}
.intro-blog {
  background: url(../images/introduce-button-blog.png) no-repeat center;
}
.intro-blogpost {
  background: url(../images/introduce-button-post.png) no-repeat center;
}
.intro-twitter {
  background: url(../images/introduce-button-twitter.png) no-repeat center;
}
.intro-kakao {
  background: url(../images/introduce-button-kakao.png) no-repeat center;
}
@keyframes left-to-right {
  0% {
    background-position: center bottom;
  }
  50% {
    background-position: 70% bottom;
  }
  100% {
    background-position: center bottom;
  }
}

/* service */
.service {
  height: 937px;
  background: url(../images/service-bg.jpg) no-repeat center center;
}
.service__box {
  width: 100%;
  height: 440px;
}
.service-border {
  border: 3px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}
.service__box-left,
.service__box-right {
  display: inline-block;
  padding: 30px 2.8% 13px;
  width: calc(25% - 30px);
  height: 100%;
  overflow: hidden;
}
.service__box-mid {
  display: inline-block;
  width: calc(50% - 10px);
  margin: 0 35px;
  height: 100%;
  border: none;
  overflow: hidden;
}
.service__box-mid--top {
  padding: 0 30px;
  text-align: center;
  width: 100%;
  height: calc(50% - 20px);
}
.service__box-mid--top ul {
  height: calc(100% - 60px);
  margin: 30px 0;
}
.service__box-mid--top--content-list {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 100%;
  border-right: 1px dashed #fff;
}
.service__box-mid--top--content-list:last-child {
  border-right: none;
}
.service__box-mid--top--icon {
  position: absolute;
  top: calc(50% - 20px);
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 48px;
  height: 45px;
}
.service-icon-1 {
  background: url(../images/service-icon01.png) no-repeat center;
}
.service-icon-2 {
  background: url(../images/service-icon02.png) no-repeat center;
}
.service-icon-3 {
  background: url(../images/service-icon03.png) no-repeat center;
}
.service-icon-4 {
  background: url(../images/service-icon04.png) no-repeat center;
}
.service__box-mid--top--text {
  position: absolute;
  top: calc(85% - 10px);
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.8px;
}
.service__box-mid--bottom {
  margin-top: 30px;
  width: 100%;
  height: calc(50% - 12.5px);
}
.service__box-mid--bottom-left,
.service__box-mid--bottom-right {
  display: inline-block;
  margin-left: 25px;
  width: calc(50% - 12.5px);
  height: 100%;
  overflow: hidden;
}
.service__box-mid--bottom-left {
  margin: 0;
}
.service__box-mid--bottom-right {
  padding: 55px 0 0;
  text-align: center;
  background-color: rgba(28, 87, 154, 0.6);
}
.service__box-mid--bottom-right--title {
  font-size: 26px;
}
.service__box-mid--bottom-right--content {
  margin-top: -10px;
  display: block;
  font-size: 39px;
}
.service__box-mid--bottom-right--content:hover {
  text-decoration-line: underline;
}
.service__box--strong-text {
  font-size: 26px;
  color: #fff;
}
.service__box--content {
  margin-top: 15px;
  height: 50px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.6);
}
.service__box--content:nth-child(1) {
  margin-top: 40px;
}
.service__box--content:last-child {
  border: none;
}
.service__box--content-text {
  font-size: 17px;
  font-weight: 300;
  letter-spacing: -0.68px;
}
.service__arrow {
  margin-left: 10px;
  opacity: 0;
}
.service__box--content-text:hover ~ .service__arrow {
  opacity: 1;
}
